<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
          background-image: url('../static/pinkFlowers.jpg');
          margin: 50px;
        }
    
     
    </style>
</head>
<body>
    <div style="border: 7px solid rgb(245, 173, 209); padding: 15px; margin: 20px; text-align: center;">
        <h1>Contact Us</h1>
    </div><br>
    <span>
        We would like to keep in contact with you!
    </span><br><br>
    <br>
    <form action="URL" method="post">
        <label for="FullName">Full Name</label><br>
        <input type="text" id="FullName" name="FullName" autocomplete="on" required><br><br>

        <label for="email">Email</label><br>
        <input type="email" id="email" name="email" required><br><br>

        <label for="phone">Phone number</label><br>
        <input type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"><br><br>

        <label for="gender">Gender</label><br>
        <input type="radio" id="male" name="gender" value="Male">
        <label for="male">Male</label><br>
        <input type="radio" id="female" name="gender" value="Female">
        <label for="female">Female</label><br><br>

        <label for="birthdate">Birthdate</label><br>
        <input type="date" id="birthdate" name="birthdate"><br><br>

        <label for="time">Birth Hour</label><br>
        <input type="time" id="time" name="time"><br><br>

        <label for="number">Favorite Number</label><br>
        <input type="number" id="number"  name="number"min="0" max="10"><br><br>

        <label for="favcolor">Favorite color</label><br>
        <input type="color" id="favcolor" name="favcolor"><br><br>

        <label for="range">Please Rate Us</label><br>
        <input type="range" id="range" name="range" min="0" max="10"><br><br>

        <label for="text">What do you want to tell us?</label><br>
        <input type="text" id="text" name="text" style="padding: 25px;"required><br><br>
        
        <label for="agree">I agree to send me promotion emails</label><br>
        <input type="checkbox" id="agree" name="agree"><br><br>
        <input type="submit"><br><br>
    </form><br>

    <span>
        Do you want to go back?
    </span><br>
    <nav>
        <ul>
            <li> <a href="Home.HTML">Contact</a></li>
        </ul>
    </nav>

</body>
</html>