:root {
    --lightPurple:  rgb(160, 6, 237);
    --fucciaPink: rgb(255, 4, 129);
}
/*web font*/
@font-face {
    font-family: MyFirstFont;
    src: url(../static/GrapeNuts-Regular.ttf);
}

body {
    background-image: url("../static/background.jfif");
    font-family: MyFirstFont;
    margin: 50px;
}

label {
    display: inline-block;
    width: 150px;
    text-align: left;
}

.title {
    font-size: 20px;
    font-weight: bold;
}


/* navigation bar design*/
nav a {
    color:blue;
    display: inline;
    font-size: 20px;
    border: 3px solid lightsteelblue;
}

a:link {
    color: black;
}


a:hover {
    color: var(--fucciaPink);
    transform: scale(2,2);
}

.active {
    background-color: lightsteelblue;
    color: black;
}

li {
    display: inline;
}
/*end navigation bar design*/





/*grid areas - home */
#Nav {
    grid-area: Nav;
}

#HeaderH {
    border: 7px solid lightsteelblue; 
    padding: 15px; 
    margin: 20px; 
    text-align: center; 
    background-image: url('../static/pinkBackground.webp');
    grid-area: HeaderH;
}

#audio {
    grid-area: audio;
}

#enjoy {
    grid-area: enjoy;
    margin: 20px;
}

#calcTime {
    grid-area: calcTime;
    margin: 20px;
    display: inline-block;
    white-space: nowrap;
}

#calcTitle {
    font-weight: bold;
}


#switchingPics {
    grid-area: switchingPics;
}


#Welcome {
    grid-area: Welcome;
    margin: 20px; 
    font-size: 150%;
    font-weight: bold;
}
 /*end grid areas - home*/




/*grid areas - Contact */
#nav {
    grid-area: nav;
}


#formDiv {
    color: black;
    grid-area: formDiv;
    margin: 20px;
}


#HeaderC {
    border: 7px solid lightsteelblue; 
    padding: 15px; 
    margin: 20px; 
    text-align: center; 
    background-image: url('../static/pinkBackground.webp');
    grid-area: HeaderC;
}


#titleCont {
    grid-area: titleCont;
}
 /*end grid areas - contact*/







/*Grids*/
#containerHome {
    display: grid;
    grid-template-areas: 
    'HeaderH HeaderH HeaderH '
    'Nav Nav Nav '
    'Welcome calcTime calcTime '
    'enjoy calcTime calcTime '
    'audio calcTime calcTime '
    '.  .   . '
    '.  .   . '
    'switchingPics switchingPics switchingPics';
}


#containerContact {
    display: grid;
    grid-template-areas: 
    'HeaderC HeaderC HeaderC'
    'nav nav nav'
    'titleCont titleCont titleCont'
    'formDiv formDiv formDiv'
    'formDiv formDiv formDiv'
    'formDiv formDiv formDiv'
    'formDiv formDiv formDiv'
    'formDiv formDiv formDiv';
}



@media only screen and (max-width: 800px) {

    #containerContact {
        display: grid;
        text-align: center;
        grid-template-areas: 'HeaderC'
        'nav'
        'titleCont'
        'formDiv'
        'formDiv'
        'formDiv'
        'formDiv'
        'formDiv';
    }

    #containerHome {
        display: grid;
        text-align: center;
        grid-template-areas: 'HeaderH'
        'Nav'
        'Welcome'
        'enjoy'
        'audio'
        'calcTime'
        'switchingPics';
    }
    
    #audio {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
 /*end grids*/



/*animation*/
#img1 {
    animation: fadeIn1 4s ease-in-out 0.5s infinite;
  }
#img2 {
    animation: fadeIn2 4s ease-in-out 0.5s infinite;
}

.switching{
    grid-area: switchingPics;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@keyframes fadeIn1 {
    0% {opacity:0;}
    33% {opacity:0.5}
    66% {opacity:1;}
}

@keyframes fadeIn2 {
    0% {opacity:1;}
    33% {opacity:0.5;}
    66% {opacity:0;}
}


 /*end animation*/