<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="../static/javascript.js"></script>
    <title>Document</title>
    <link rel="stylesheet" href="../static/CSS.css">
</head>

<body>
    <div id="containerHome">
        <header id="HeaderH">
            <h1>Music</h1>
        </header>
        <br>
        
        <!-- Navigation bar -->
        <nav id="Nav">
            <ul>
                <li> <a href="Home.HTML">Home</a></li>
                <li> <a href="Contact.HTML">Contact</a></li>
            </ul>
        </nav>
        <br>


        <p id="Welcome">
            Welcome to the best music website!
        </p>


        <!-- Music add-in -->
        <p id="enjoy">
            Enjoy the music while you're in here :)
        </p><br>

        <audio id="audio" controls autoplay>
            <source src="../static/Let Me Love You Instrument.mp3" type="audio/mp3">
            Your browser does not support the audio element.
        </audio><br>


        <!-- Calculate music time -->
        <div id="calcTime">
            <p class="title">Calculate the average time you listen to music per day</p>
            <label for="inputNum">Number Of Songs Played Per Day:</label><br><br>
            <input id="inputNum" type="number" id="number" name="number" min="0" max="100"><br><br>
            <button id="btn" onclick="calcTime()">Calculate</button><br>
            <p id="result"></p>
        </div>


        <!-- Switching pics animation -->
        <div id="img1" class="switching"><img src="../static/music1.png" alt="pic" style="float:right; border:5px double purple;"></div>
        <div id="img2" class="switching"><img src="../static/music3.png" alt="pic" style="float:right; border:5px double purple;"></div>


        

    </div>

</body>

</html>