<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="border: 7px solid pink; padding: 15px; margin: 20px;">
        <h1>Peleg Eliyahou</h1>
    </div>
    <span style="border: 3px solid lightskyblue; padding: 15px; margin: 20px;">
        This is Peleg's first homework in web course
    </span><br><br>
    <img src="../static/web_pic.jpg" alt="website picture" width="400px"><br><br>

    <span>
        Do you want to stay in contact?
    </span><br>
    <nav>
        <ul>
            <li> <a href="Contact.HTML">Contact</a></li>
        </ul>
    </nav>

</body>
</html>